<mat-grid-list [cols]="12" rowHeight="6em">

  <mat-grid-tile [colspan]="4" [rowspan]="10">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Batch Detail</mat-card-title>
      </mat-card-header>

      <mat-card-content id="batchform">

        <mat-form  [formGroup]="batchform" >

          <!--Course Select-->
          <mat-form-field appearance="outline">
            <mat-label>Course</mat-label>
            <mat-select formControlName="course">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let course of courses" [value]="course">{{course.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <!--Day Select-->
          <mat-form-field appearance="outline">
            <mat-label>Day</mat-label>
            <mat-select formControlName="day">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let day of days" [value]="day">{{day.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <!--Number Input-->
          <mat-form-field appearance="outline">
            <mat-label>Number</mat-label>
            <input matInput formControlName="number">
          </mat-form-field>

          <!--Name Input-->
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <!--DOS Select-->
          <mat-form-field appearance="outline">
            <mat-label>Date Of Start</mat-label>
            <input matInput [matDatepicker]="dostart" formControlName="dostart">
            <mat-datepicker-toggle matIconSuffix [for]="dostart"></mat-datepicker-toggle>
            <mat-datepicker #dostart></mat-datepicker>
          </mat-form-field>

          <!--DOE Select-->
          <mat-form-field appearance="outline">
            <mat-label>Date Of End</mat-label>
            <input matInput [matDatepicker]="doend" formControlName="doend">
            <mat-datepicker-toggle matIconSuffix [for]="doend"></mat-datepicker-toggle>
            <mat-datepicker #doend></mat-datepicker>
          </mat-form-field>

          <!--TOS Select-->
          <mat-form-field appearance="outline">
            <mat-label>Time Of Start</mat-label>
            <input type="time" matInput formControlName="tostart">
          </mat-form-field>

          <!--TOE Select-->
          <mat-form-field appearance="outline">
            <mat-label>Time Of Finish</mat-label>
            <input type="time" matInput formControlName="tofinish">
          </mat-form-field>

          <!--CoordinatorID Select-->
          <mat-form-field appearance="outline">
            <mat-label>Coordinator</mat-label>
            <mat-select formControlName="employee">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let employee of employees" [value]="employee">{{employee.callingname}}</mat-option>
            </mat-select>
          </mat-form-field>

          <!--Description Input-->
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>

          <!--BatchStatus Select-->
          <mat-form-field appearance="outline">
            <mat-label>Batch Status</mat-label>
            <mat-select formControlName="batchstatus">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let batchstatus of batchstatuses" [value]="batchstatus">{{batchstatus.name}}</mat-option>
            </mat-select>
          </mat-form-field>


          <!--Button Group(Add,Update,Delete and Clear)-->
          <div id="butpanel">
            <button mat-raised-button (click)="add()" [disabled]="!enaadd">Add</button>
            <button mat-raised-button>Clear</button>
            <button mat-raised-button (click)="update()" [disabled]="!enaupd">Update</button>
            <button mat-raised-button (click)=null [disabled]="!enadel">Delete</button>
          </div>

        </mat-form>
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="8" [rowspan]="4">
    <mat-card id="ssearch">
      <mat-card-header>
        <mat-card-title>Batch Search</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <mat-form [formGroup]="ssearch">

          <mat-form-field appearance="outline">
            <mat-label>Search by Number</mat-label>
            <input matInput formControlName="ssnumber">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Search by BatchName</mat-label>
            <input matInput formControlName="ssname">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Batch Status</mat-label>
            <mat-select formControlName="ssstatus">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let batchstatus of batchstatuses" [value]="batchstatus.id">{{batchstatus.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-raised-button color="primary" (click)="btnSearchMc()"><mat-icon>search</mat-icon> Search </button>
            <button mat-raised-button color="primary" (click)="btnSearchClearMc()"><mat-icon>reorder</mat-icon> Clear Search </button>
          </div>

        </mat-form>

      </mat-card-content>

    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="8" [rowspan]="6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Batch Table</mat-card-title>
        <div id="loading">
          <img [src]="imageurl">
        </div>
      </mat-card-header>

      <mat-card-content>

        <mat-table [dataSource]="data">

          <ng-container *ngFor="let column of columns;let i = index;" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef> {{headers[i]}} </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ uiassist.getProperty(element, binders[i]) }} </mat-cell>
          </ng-container>

          <ng-container *ngFor="let cscolumn of cscolumns;let i = index;" [matColumnDef]="cscolumn">
            <mat-header-cell *matHeaderCellDef>
              <mat-form [formGroup]="csearch" class="csearch">
                <mat-form-field appearance="outline">
                  <mat-label>{{csprompts[i]}}</mat-label>
                  <input matInput [formControlName]="cscolumn"
                  (keyup)="filterTable()" >
                </mat-form-field>
              </mat-form>
            </mat-header-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-header-row *matHeaderRowDef="cscolumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns;" (click)="fillForm(row)" [ngClass]="{'selected-row': row === selectedrow}"></mat-row>

        </mat-table>

        <mat-paginator [length]="20" [pageSize]="3" [pageSizeOptions]="[3,5,10,20]"></mat-paginator>

      </mat-card-content>

    </mat-card>
  </mat-grid-tile>

</mat-grid-list>




