mat-card {  width: 100%;  height:100%;  margin: 10px 10px -10px 10px ; }

mat-card-content { overflow: auto; height: 100%; }

mat-card-header { background: #c0d9c3; }

#loading img{ width: 30px; height: 25px; margin-left: 200px;}

.csearch{   height: 40px;   width: 100%;  margin-top: 5px;    }

#ssearch mat-card-content{   padding-top: 30px; }

#ssearch mat-form-field { padding-left: 15px; width: 200px; }

#ssearch button{ width: 195px; margin-left:10px; margin-top: 5px; background-color: #435f3b;   }



/* Employee Form */
#employeeform {
  padding-top: 20px;
}


/* Employee Form > Photo Panel  */
#imgpanel {
  height: 100px;
  margin-bottom: 30px;
}

#imgpanel img{
  height: 100px;
  width: 100px;
}

#selectbutton, #clearbutton{
  width: 150px;
  display: block;
  margin-left: 150px;
  margin-bottom: 5px;
  background-color: darkolivegreen;
  color: white;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}

#selectbutton{
  margin-top: -100px;
}


/* Employee Form > Button Panel  */
#butpanel{  margin-top: 30px;
  margin-bottom: 30px;
}

#butpanel button{
  width: 82px;
  margin:3px;
  background-color: #435f3b;
  color: white;
}


.selected-row{
  background-color: #c9e6ff!important;
}

.mat-row:hover {
  background-color: inherit!important;
}

/*
mat-form-field .ng-dirty{
  background-color: gold;
}
*/

#employeeform mat-form-field .ng-dirty{
  background-color: gold;
}


button:disabled {
  opacity: 0.5;
}



/*

mat-form-field .ng-invalid{
  background-color: lightcoral;
}

mat-form-field .ng-valid,
.ng-valid.required {
  background-color: lightgreen;
}

mat-form-field .ng-invalid:not(form) {
  background-color: lightcoral;
}

mat-form-field .ng-invalid:not(form) {
  background-color: lightcoral;
}

*/






/*
.form-field-invalid{ color: red!important; }
.form-field-valid{ color: green!important; }
.form-field-pristine{ color:blue!important; }

.form-field-dirt{ color:orange!important; }
*/



